.author-img {
    width: 13%;
    border-radius: 45px;
}



/* Media Query for small Devices */

@media screen and (max-width: 600px) {
    .category-buttons {
        display: block;
        width: 100%;
        text-align: center !important;

    }

    .blogs-thumbnail {
        width: 100% !important;
    }
}